<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.clicktoeat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClickToEat">



        <activity android:name=".DeleveryBoyProfileEdit"></activity>


        <activity android:name=".OrderSucceessActivity" />
        <activity android:name=".PlaceYourOrderActivity" />
        <activity android:name=".RestaurantMenuActivity" />
        <activity android:name=".MainActivity" />

        <activity android:name=".ViewData_FireStore" />
        <activity android:name=".InsertData_firebase" />
        <activity android:name=".AdminFood_View" />
        <activity android:name=".Admin_AddFood" />
        <activity android:name=".Admin_Food" />
        <activity android:name=".Admin_Home" />
        <activity android:name=".TotaOrders" />
        <activity android:name=".AddLocation" />
        <activity android:name=".DeleveryManProfile" />
        <activity android:name=".DeliveryMyOrders" />
        <activity android:name=".HomePage" />
        <activity android:name=".FoodTitle" />
        <activity android:name=".DeliveryCancelInput" />
        <activity android:name=".FoodDeliveryDetails" />
        <activity android:name=".HomeFood" />
        <activity android:name=".DeleveryHomePage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".EditMyProfile" />
        <activity android:name=".MyProfile" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".StartingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>